@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /* color presets */
  --color-black: #000000;
  --color-white: hsl(0, 0%, 100%);
  --color-dark-grey: #666666;
  --color-light-grey: #cccccc;
  --color-grey: #999999;
  --color-light-blue: #0099ff;
  --color-dark-blue: #006bb3;
  --color-navy-blue: #001f33;
  --color-light-red: #e62e00;
  --color-dark-red: #b32400;
  --color-light-green: #00ff00;
  --color-dark-green: #009900;
  --color-Background: hsl(0, 0%, 98%);
  --color-black-background: hsl(0, 0%, 25%);

  /* shadows */
  --shadow-t-b: 0px 20px 10px hsl(0, 0%, 90%), 0px -20px 10px hsl(0, 0%, 90%);
  --shadow-b: 0px 20px 10px hsl(0, 0%, 90%);
  --shadow-t: 0px -20px 10px hsl(0, 0%, 90%);
  --text-outline:-1px -1px 0 #fff,  1px -1px 0 #fff,-1px  1px 0 #fff,1px  1px 0 #fff;
}

body {
  background-color: var(--color-black-background);
  color: var(--color-black);
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* end of nav bar */

.topNav {
  background-color: var(--color-black);
  color: var(--color-white);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.topNav a {
  display: flex;
  align-items: center;
  float: right;
  text-align: center;
  color: var(--color-white);
  text-align: center;
  padding: 1.5vw;
  text-decoration: none;
  font-size: 1vw;
  margin-right: 1vw;
}

.topNav a:last-child {
  float: right;
}

.topNav a:hover {
  color: var(--color-dark-red);
}

a.onclick {
  background-color: var(--color-white);
  color: var(--color-black);
}

.topNav img {
  height: 5vw;
  width: 5vw;
  justify-content: center;
  margin-left: 1vw;
  float: left;
}

/* cv content */

.cv-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3vw;
}

.cv-content h1 {
  font-size: 4vw;
  font-weight: 600;
  margin-bottom: 1vw;
  color: var(--color-white);
  text-decoration: underline;
  text-shadow: var(--text-outline);
}

img{
  width: 60%;
  height:auto;
}

.download{
  color: var(--color-white);
  text-align: center;
  font-size: 1.5vw;
  padding: 2vw;
}

span {
  color: var(--color-navy-blue);
  text-shadow: var(--text-outline);
}
/* Footer */

.footer{
  padding: 1vw;
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  text-align: center;
  bottom: 0;
}